:root {
  --accentColor: rgba(10, 130, 255, 1);
  --topbarHeight: 1.8rem;
  --icon-size: 36px;
  --color-title-bar: rgba(60, 60, 60, 0.8);
  --color-header-view: rgba(30, 30, 30, 0.8);
  --color-window-background: rgba(40, 40, 40, 0.7);
  --color-menu: rgba(40, 40, 40, 0.7);
  --color-popover: rgba(40, 40, 40, 0.6);
  --color-fullscreen: rgba(40, 40, 40, 0.5);
  --img-bg: url("./../wallpapers/Big\ Sur\ Graphic-1.jpg"); }

body,
html {
  height: 100%;
  width: 100%;
  font-size: 16px;
  margin: 0px;
  padding: 0px; }

#macos {
  background: var(--img-bg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  font-family: "San Francisco"; }

#macos * {
  box-sizing: border-box !important;
  cursor: default;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */ }

#macos .has-blur-bg {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px); }

#macos .has-inner-glow {
  box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.1), inset 0px 0px 1px rgba(255, 255, 255, 0.3); }

#macos .spacer {
  flex: 1 0 auto; }

#macos .topbar {
  background: rgba(29, 29, 31, 0.4);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: var(--topbarHeight);
  max-height: var(--topbarHeight);
  color: white;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  z-index: 30; }
  #macos .topbar .apple-btn {
    padding: 0 0.75rem;
    font-size: 1.1rem;
    border-radius: 5px;
    margin: 0 -0.125rem; }
    #macos .topbar .apple-btn:active {
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: saturate(50%); }
  #macos .topbar .topbar-menu {
    align-content: center;
    display: flex;
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: inherit;
    align-items: baseline; }
    #macos .topbar .topbar-menu > .menu-button {
      padding: 0 1rem;
      border-radius: 5px;
      display: inline-flex;
      font-weight: normal;
      margin: 0 -0.325rem;
      line-height: 2.2em;
      height: var(--topbarHeight);
      position: relative; }
      #macos .topbar .topbar-menu > .menu-button.active, #macos .topbar .topbar-menu > .menu-button:active {
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: saturate(100%); }
  #macos .topbar .dropdown {
    min-width: 300px;
    border-radius: 6px;
    position: absolute;
    top: var(--topbarHeight);
    left: 0px;
    padding: 0.25rem;
    font-size: 0.875rem;
    background: rgba(40, 40, 40, 0.8);
    display: flex;
    flex-flow: column;
    box-shadow: 0px 0px 0px 1px black, 0 5px 20px rgba(0, 0, 0, 0.55);
    border: 1px solid rgba(255, 255, 255, 0.2); }
    #macos .topbar .dropdown.hide {
      display: none; }
    #macos .topbar .dropdown .divider {
      margin: 0.25rem 0.5rem;
      line-height: 1.3rem;
      border-radius: 3px;
      height: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
    #macos .topbar .dropdown .item {
      padding: 0 0.5rem;
      line-height: 1.5rem;
      border-radius: 3px;
      opacity: 0.9;
      position: relative; }
      #macos .topbar .dropdown .item.disabled {
        opacity: 0.4; }
        #macos .topbar .dropdown .item.disabled .key {
          opacity: 1; }
      #macos .topbar .dropdown .item:not(.disabled):hover {
        background: var(--accentColor); }
        #macos .topbar .dropdown .item:not(.disabled):hover .key {
          opacity: 1; }
      #macos .topbar .dropdown .item .key {
        position: absolute;
        right: 0.5rem;
        top: 0px;
        opacity: 0.4; }
  #macos .topbar .topbar-right {
    display: flex; }
    #macos .topbar .topbar-right .topbar-button {
      font-size: 0.875rem;
      padding: 0 0.5rem;
      border-radius: 5px;
      margin: 0 -0.125rem; }
      #macos .topbar .topbar-right .topbar-button:active {
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: saturate(100%); }

#macos .control-panel {
  width: 315px;
  min-height: 300px;
  border-radius: 16px;
  position: absolute;
  top: calc(var(--topbarHeight) + 0.25rem);
  right: 0.25rem;
  padding: 0.25rem;
  z-index: 15;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 60px 60px 60px 60px 40px;
  justify-items: stretch;
  align-items: stretch;
  background: rgba(40, 40, 40, 0.8);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2); }
  #macos .control-panel.hide {
    display: none; }
  #macos .control-panel > div {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7), inset 0px 0px 2px rgba(255, 255, 255, 0.2);
    margin: 0.25rem;
    border-radius: 6px; }
    #macos .control-panel > div.cp-connections {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2; }
    #macos .control-panel > div.cp-disturb {
      grid-column: 3 / span 2;
      grid-row: 1 / span 1; }
    #macos .control-panel > div.cp-sound {
      grid-column: 1 / span 4;
      grid-row: 3 / span 1; }
    #macos .control-panel > div.cp-music {
      grid-column: 1 / span 4;
      grid-row: 4 / span 1; }
    #macos .control-panel > div.cp-battery {
      grid-column: 1 / span 1;
      grid-row: 5 / span 1; }
    #macos .control-panel > div.cp-access {
      grid-column: 2 / span 1;
      grid-row: 5 / span 1; }

#macos .widgets {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
  width: calc(300px + 2rem);
  height: 100%;
  border-radius: 20px;
  transition: 0.3s right ease; }
  #macos .widgets.hide {
    right: calc(-1 * (300px + 2rem)); }
  #macos .widgets.left {
    left: 0px;
    right: unset;
    transition: 0.3s left ease; }
    #macos .widgets.left.hide {
      right: unset;
      left: calc(-1 * (300px + 2rem)); }
  #macos .widgets .widgets-blur-bg {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    filter: blur(1rem);
    -webkit-filter: blur(1rem);
    z-index: 1; }
    #macos .widgets .widgets-blur-bg:after {
      content: "";
      position: absolute;
      display: block;
      right: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px); }
  #macos .widgets .widgets-container {
    position: absolute;
    right: 0px;
    top: 0px;
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    justify-content: flex-end; }
    #macos .widgets .widgets-container .widget {
      margin: 0.5rem;
      background: #1e1e1e;
      width: 150px;
      height: 150px;
      border-radius: 20px;
      z-index: 6;
      position: relative; }
      #macos .widgets .widgets-container .widget.widget-double {
        width: calc(150px * 2 + 1rem); }
      #macos .widgets .widgets-container .widget.widget-clock .widget-clock-circle {
        background: #343436;
        margin: 0.45rem;
        border-radius: 50%;
        width: calc(100% - 0.9rem);
        height: calc(100% - 0.9rem);
        position: absolute;
        left: 0px;
        top: 0px; }
      #macos .widgets .widgets-container .widget.widget-clock .numbers {
        position: absolute;
        left: 0.6rem;
        top: 0.6rem;
        width: calc(100% - 1.1rem);
        height: calc(100% - 1.1rem); }
        #macos .widgets .widgets-container .widget.widget-clock .numbers .number {
          position: absolute;
          font-size: 1.25rem;
          width: 1em;
          height: 1em;
          font-weight: bold;
          color: white;
          margin: -0.5em;
          text-align: center; }
          #macos .widgets .widgets-container .widget.widget-clock .numbers .number.n-12 {
            top: 0.5em;
            left: 50%; }
          #macos .widgets .widgets-container .widget.widget-clock .numbers .number.n-1 {
            top: 1em;
            right: 1.5em; }
          #macos .widgets .widgets-container .widget.widget-clock .numbers .number.n-2 {
            top: 2em;
            right: 1em; }
          #macos .widgets .widgets-container .widget.widget-clock .numbers .number.n-3 {
            top: 50%;
            right: 0.5em; }
          #macos .widgets .widgets-container .widget.widget-clock .numbers .number.n-4 {
            bottom: 2em;
            right: 1em; }
          #macos .widgets .widgets-container .widget.widget-clock .numbers .number.n-5 {
            bottom: 1em;
            right: 2em; }
          #macos .widgets .widgets-container .widget.widget-clock .numbers .number.n-6 {
            bottom: 0.5em;
            left: 50%; }
          #macos .widgets .widgets-container .widget.widget-clock .numbers .number.n-7 {
            left: 1.55em;
            bottom: 1em; }
          #macos .widgets .widgets-container .widget.widget-clock .numbers .number.n-8 {
            left: 1em;
            bottom: 2em; }
          #macos .widgets .widgets-container .widget.widget-clock .numbers .number.n-9 {
            left: 0.5em;
            top: 50%; }
          #macos .widgets .widgets-container .widget.widget-clock .numbers .number.n-10 {
            left: 1em;
            top: 2em; }
          #macos .widgets .widgets-container .widget.widget-clock .numbers .number.n-11 {
            left: 2em;
            top: 1em; }
      #macos .widgets .widgets-container .widget.widget-calendar {
        background: #1e1e1e; }
      #macos .widgets .widgets-container .widget.widget-weather {
        background: linear-gradient(0deg, #303443 0%, #0b0912 100%); }
      #macos .widgets .widgets-container .widget.widget-podcast {
        background: linear-gradient(0deg, #9700c5 0%, #e63dfc 100%); }

#macos .window {
  min-width: 100px;
  min-height: 100px;
  border-radius: 12px;
  position: absolute;
  left: 10%;
  top: 10%;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  resize: both;
  background: rgba(40, 40, 40, 0.8);
  box-shadow: 0px 0px 0px 1px black, 0 20px 70px rgba(0, 0, 0, 0.55);
  border: 1px solid rgba(255, 255, 255, 0.2); }
  #macos .window:not(.dragging) {
    transition: 0.2s all ease; }
  #macos .window.maximized {
    width: 100% !important;
    top: var(--topbarHeight) !important;
    left: 0px !important;
    height: calc( 100% - (var(--icon-size) + 1.25rem) - var(--topbarHeight)) !important; }
  #macos .window.minimized {
    transform: scale(0.1);
    left: 0px;
    top: 70% !important; }
    #macos .window.minimized .drop-top {
      width: 100%;
      height: 100%; }
  #macos .window.closed {
    transform: scale(0);
    left: 0px;
    top: 70% !important; }
    #macos .window.closed .drop-top {
      width: 100%;
      height: 100%; }
  #macos .window.active {
    z-index: 2; }
  #macos .window .drop-top {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px; }
  #macos .window .window-top {
    height: 1.75rem;
    padding: 0.25rem 0.25rem;
    background: rgba(55, 55, 55, 0.9);
    border-bottom: 1px solid black;
    display: flex; }
    #macos .window .window-top.large {
      height: 3.25rem;
      padding: 0.5rem 0.75rem; }
    #macos .window .window-top .window-actions-icon {
      display: flex;
      flex-flow: row;
      align-items: center;
      padding: 0.5rem; }
      #macos .window .window-top .window-actions-icon > div {
        flex: 0 0 auto;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.2); }
        #macos .window .window-top .window-actions-icon > div.red {
          background: #ff3b4b; }
        #macos .window .window-top .window-actions-icon > div.yellow {
          background: #ffbc00;
          margin: 0rem 0.5rem; }
        #macos .window .window-top .window-actions-icon > div.green {
          background: #00d541; }
    #macos .window .window-top .window-icons {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      padding: 0 0.5rem; }
      #macos .window .window-top .window-icons .icon-button {
        padding: 0.1rem 0.6rem;
        border-radius: 3px;
        margin: 0.25rem;
        color: rgba(255, 255, 255, 0.7); }
        #macos .window .window-top .window-icons .icon-button:hover {
          background: rgba(255, 255, 255, 0.1); }
        #macos .window .window-top .window-icons .icon-button:active {
          background: rgba(255, 255, 255, 0.15);
          color: white; }
    #macos .window .window-top .url-input {
      flex: 10 0 auto;
      width: auto;
      align-items: center;
      color: white;
      display: flex;
      align-items: center; }
      #macos .window .window-top .url-input .input-container {
        background: rgba(255, 255, 255, 0.1);
        width: 100%;
        border-radius: 5px;
        padding: 0px 2rem;
        position: relative;
        display: flex;
        flex-flow: row;
        align-items: center;
        box-shadow: 0px 0px 1px 8px transparent; }
        #macos .window .window-top .url-input .input-container:focus-within {
          transition: 0.3s all ease;
          box-shadow: 0px 0px 4px 2px var(--accentColor); }
          #macos .window .window-top .url-input .input-container:focus-within .label-url {
            opacity: 0;
            transform: translateX(-200px); }
        #macos .window .window-top .url-input .input-container input {
          background: transparent;
          width: calc(100% - 200px);
          height: auto;
          border: none;
          line-height: 1.5rem;
          outline: none;
          text-align: left;
          transform: translateX(200px);
          transition: 0.4s opacity ease, 0.4s transform ease;
          padding: 0px;
          opacity: 0;
          color: inherit; }
          #macos .window .window-top .url-input .input-container input:focus {
            width: 100%;
            opacity: 1;
            transform: translateX(0px); }
        #macos .window .window-top .url-input .input-container .label-url {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          transition: 0.4s opacity ease, 0.4s transform ease;
          opacity: 1;
          text-align: center; }
          #macos .window .window-top .url-input .input-container .label-url span {
            pointer-events: none; }
        #macos .window .window-top .url-input .input-container .fa-reload {
          position: absolute;
          right: 0.5rem;
          top: 0.25rem; }
        #macos .window .window-top .url-input .input-container .fa-globe {
          position: absolute;
          left: 0.5rem;
          top: 0.25rem; }
  #macos .window .window-tabs {
    flex: 0 0 1.5rem;
    background: rgba(15, 15, 15, 0.8);
    display: flex;
    flex-flow: row;
    justify-items: stretch; }
    #macos .window .window-tabs .tab {
      height: 1.5rem;
      flex: 1 0 auto;
      justify-items: center;
      display: flex;
      margin-top: -1px; }
      #macos .window .window-tabs .tab.active {
        background: rgba(55, 55, 55, 0.9); }
      #macos .window .window-tabs .tab .tab-title {
        font-size: 0.875rem;
        line-height: 1.25rem;
        flex: 1 1 auto;
        text-align: center;
        color: white; }
  #macos .window .window-container {
    flex: 1 1 auto;
    overflow: scroll; }

#macos .dock-outside {
  width: 100%;
  font-size: var(--icon-size);
  bottom: 0.25rem;
  left: 0px;
  position: absolute;
  display: flex;
  justify-content: center; }
  #macos .dock-outside .dock-container {
    z-index: 15; }
    #macos .dock-outside .dock-container .dock {
      flex: 0 0 auto;
      border-radius: 1rem;
      background: rgba(40, 40, 40, 0.6);
      display: flex;
      align-items: flex-end;
      border: 1px solid rgba(255, 255, 255, 0.18);
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4), 0 20px 70px rgba(0, 0, 0, 0.55);
      transition: 1s all ease-in-out; }
      #macos .dock-outside .dock-container .dock .icon-container {
        margin-top: 0.125em;
        margin-bottom: 0.25em;
        width: calc(var(--icon-size) + 0.5rem);
        text-align: center;
        position: relative; }
        #macos .dock-outside .dock-container .dock .icon-container.has-dot:after {
          content: "";
          display: block;
          position: absolute;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: rgba(255, 255, 255, 0.5);
          bottom: calc(-0.625rem + 2px);
          left: calc(50% - 2px); }
        #macos .dock-outside .dock-container .dock .icon-container .icon {
          -webkit-backface-visibility: hidden;
          outline: 1px solid transparent;
          image-rendering: auto;
          border-radius: 0.25em;
          width: calc(var(--icon-size) + 0.5rem);
          height: var(--icon-size);
          position: relative;
          transform-origin: 0% 100%;
          background-size: calc(var(--icon-size) + 6px) calc(var(--icon-size) + 6px);
          background-position: -3px -3px;
          background-origin: content-box;
          padding-left: 0.25rem;
          padding-right: 0.25rem; }
          #macos .dock-outside .dock-container .dock .icon-container .icon.safari {
            background-image: url(./../icons/safari-2021-06-02.png); }
          #macos .dock-outside .dock-container .dock .icon-container .icon.folder {
            background-image: url(./../icons/FolderDark512x512.png); }
          #macos .dock-outside .dock-container .dock .icon-container .icon.photos {
            background-image: url(./../icons/photos-2021-05-28.png); }
          #macos .dock-outside .dock-container .dock .icon-container .icon.podcast {
            background-image: url(./../icons/podcasts-2021-05-28.png); }
          #macos .dock-outside .dock-container .dock .icon-container .icon.terminal {
            background-image: url(./../icons/terminal-2021-06-03.png); }
          #macos .dock-outside .dock-container .dock .icon-container .icon.monitor {
            background-image: url(./../icons/activity-monitor-2021-04-22.png); }
          #macos .dock-outside .dock-container .dock .icon-container .icon.appstore {
            background-image: url(./../icons/app-store-2021-04-22.png); }
          #macos .dock-outside .dock-container .dock .icon-container .icon.calculator {
            background-image: url(./../icons/calculator-2021-04-29.png); }
          #macos .dock-outside .dock-container .dock .icon-container .icon.digital-color {
            background-image: url(./../icons/digital-color-meter-2021-04-30.png); }
          #macos .dock-outside .dock-container .dock .icon-container .icon.maps {
            background-image: url(./../icons/maps-2021-05-25.png); }
          #macos .dock-outside .dock-container .dock .icon-container .icon.reminders {
            background-image: url(./../icons/reminders-2021-05-28.png); }
          #macos .dock-outside .dock-container .dock .icon-container .icon.screenshot {
            background-image: url(./../icons/screenshot-2021-06-02.png); }
          #macos .dock-outside .dock-container .dock .icon-container .icon.preferences {
            background-image: url(./../icons/system-preferences-2021-06-03.png); }
          #macos .dock-outside .dock-container .dock .icon-container .icon:active {
            filter: brightness(50%); }
          #macos .dock-outside .dock-container .dock .icon-container .icon .notification {
            position: absolute;
            background: red;
            width: 1.5em;
            height: 1.5em;
            line-height: 1.55em;
            right: -0.5em;
            top: -0.5em;
            font-size: 0.4em;
            color: white;
            text-align: center;
            border-radius: 50%;
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3); }
      #macos .dock-outside .dock-container .dock .divider-container .divider {
        margin: 0.1rem 0.5rem 0.25rem 0.5rem;
        height: calc(var(--icon-size) + 0.2rem);
        width: 1px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 1px; }

#macos .spotlight-container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 30; }
  #macos .spotlight-container.hide {
    display: none; }
  #macos .spotlight-container .spotlight {
    width: 40rem;
    height: 3.6rem;
    position: absolute;
    left: calc(50% - 20rem);
    top: 40%;
    background: rgba(40, 40, 40, 0.8);
    box-shadow: 0px 0px 0px 1px black, 0 20px 70px rgba(0, 0, 0, 0.55);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px; }
    #macos .spotlight-container .spotlight .fa-search {
      font-size: 1.8rem;
      position: absolute;
      left: 0.9rem;
      top: 0.9rem;
      color: rgba(255, 255, 255, 0.8); }
    #macos .spotlight-container .spotlight input {
      padding-left: 3.6rem;
      position: absolute;
      right: 0px;
      top: 0px;
      border: none;
      font-size: 1.8rem;
      width: 100%;
      height: 100%;
      background: transparent;
      outline: none;
      color: rgba(255, 255, 255, 0.8); }
      #macos .spotlight-container .spotlight input::placeholder {
        color: rgba(255, 255, 255, 0.4); }

#window-1.window {
  left: 50px;
  top: 50px;
  width: 800px;
  height: 300px; }

#window-2.window {
  left: 100px;
  top: 100px; }

.window.safari .window-container {
  background-color: white; }

.window.terminal {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); }
  .window.terminal .window-container {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.1rem 0.125rem;
    font-size: 1rem;
    letter-spacing: 2px; }
    .window.terminal .window-container .cursor-blink {
      vertical-align: top;
      width: 0.5rem;
      height: 1.1rem;
      background: white;
      display: inline-block;
      animation: blink-animation 1s steps(2, start) infinite; }

@keyframes blink-animation {
  to {
    background: rgba(255, 255, 255, 0); } }
