:root {
  --accentColor: rgba(10, 130, 255, 1);
  --topbarHeight: 1.8rem;
  --icon-size: 36px;

  --color-title-bar: rgba(60, 60, 60, 0.8);
  --color-header-view: rgba(30, 30, 30, 0.8);
  --color-window-background: rgba(40, 40, 40, 0.7);
  --color-menu: rgba(40, 40, 40, 0.7);
  --color-popover: rgba(40, 40, 40, 0.6);
  --color-fullscreen: rgba(40, 40, 40, 0.5);

  --img-bg: url("./../wallpapers/Big\ Sur\ Graphic-1.jpg");
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

#macos {
  & {
    background: var(--img-bg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    font-family: "San Francisco";
  }


  * {
    box-sizing: border-box !important;
    cursor: default;

      -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  }

  .has-blur-bg {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }

  .has-inner-glow {
    box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.1),
      inset 0px 0px 1px rgba(255, 255, 255, 0.3);
  }

  .spacer {
    flex: 1 0 auto;
  }

  .topbar {
    background: rgba(29, 29, 31, 0.4);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: var(--topbarHeight);
    max-height: var(--topbarHeight);
    color: white;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    z-index: 30;

    .apple-btn {
      padding: 0 0.75rem;
      font-size: 1.1rem;
      border-radius: 5px;
      margin: 0 -0.125rem;
      &:active {
        background: rgba(255, 255, 255, 0.2); //test
        backdrop-filter: saturate(50%);
      }
    }
    .topbar-menu {
      align-content: center;
      display: flex;
      flex: 1 1 auto;
      font-size: 0.875rem;
      line-height: inherit;
      align-items: baseline;

      & > .menu-button {
        padding: 0 1rem;
        border-radius: 5px;
        display: inline-flex;
        font-weight: normal;
        margin: 0 -0.325rem;
        line-height: 2.2em;
        height: var(--topbarHeight);
        position: relative;

        &.active,
        &:active {
          background: rgba(255, 255, 255, 0.2); //test
          backdrop-filter: saturate(100%);
        }
      }
    }

      .dropdown {
        min-width: 300px;
        border-radius: 6px;
        position: absolute;
        top: var(--topbarHeight);
        left: 0px;
        padding: 0.25rem;
        font-size: 0.875rem;

        background: rgba(40, 40, 40, 0.8);
        display: flex;
        flex-flow: column;
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 1),
        0 5px 20px rgba(0, 0, 0, 0.55);
        border: 1px solid rgba(255, 255, 255, 0.2);

        &.hide {
          display: none;
        }
        .divider {
          margin: 0.25rem 0.5rem;
          line-height: 1.3rem;
          border-radius: 3px;
          height: 0;
          border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }
        .item {
          padding: 0 0.5rem;
          line-height: 1.5rem;
          border-radius: 3px;
          opacity: 0.9;
          position: relative;
          &.disabled{
            opacity: 0.4;
            .key{
              opacity: 1;
            }
          }
          &:not(.disabled):hover{
            background: var(--accentColor);
            .key {
              opacity: 1;
            }
          }
          .key {
            position: absolute;
            right: 0.5rem;
            top: 0px;
            opacity: 0.4;
          }
        }
      }


    .topbar-right {
      display: flex;
      .topbar-button {
        font-size: 0.875rem;
        padding: 0 0.5rem;
        border-radius: 5px;
        margin: 0 -0.125rem;
        &:active {
          background: rgba(255, 255, 255, 0.2); //test
          backdrop-filter: saturate(100%);
        }
      }
    }
  }

  .control-panel {
    width: 315px;
    min-height: 300px;
    border-radius: 16px;
    position: absolute;
    top: calc(var(--topbarHeight) + 0.25rem);
    right: 0.25rem;
    padding: 0.25rem;
    z-index: 15;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 60px 60px 60px 60px 40px;
    justify-items: stretch;
    align-items: stretch;

    background: rgba(40, 40, 40, 0.8);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);

    &.hide {
      display: none;
    }

    & > div {
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7),
        inset 0px 0px 2px rgba(255, 255, 255, 0.2);
      margin: 0.25rem;
      border-radius: 6px;

      &.cp-connections {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
      }

      &.cp-disturb {
        grid-column: 3 / span 2;
        grid-row: 1 / span 1;
      }

      &.cp-brigthness {
      }
      &.cp-dobule-screen {
      }
      &.cp-screen {
      }
      &.cp-sound {
        grid-column: 1 / span 4;
        grid-row: 3 / span 1;
      }
      &.cp-music {
        grid-column: 1 / span 4;
        grid-row: 4 / span 1;
      }

      &.cp-battery {
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
      }
      &.cp-access {
        grid-column: 2 / span 1;
        grid-row: 5 / span 1;
      }
    }
  }

  .widgets {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
    width: calc(300px + 2rem);
    height: 100%;
    border-radius: 20px;
    transition: 0.3s right ease;

    &.hide {
      right: calc(-1 * (300px + 2rem));
    }

    &.left{
      left: 0px;
      right: unset;
      transition: 0.3s left ease;
      &.hide{
        right: unset;
        left: calc(-1 * (300px + 2rem));
      }
    }

    .widgets-blur-bg {
      position: absolute;
      right: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      filter: blur(1rem);
      -webkit-filter: blur(1rem);
      z-index: 1;
      &:after {
        content: "";
        position: absolute;
        display: block;
        right: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
      }
    }

    .widgets-container {
      position: absolute;
      right: 0px;
      top: 0px;
      width: inherit;
      display: flex;
      flex-wrap: wrap;
      padding-top: 2rem;
      justify-content: flex-end;

      .widget {
        margin: 0.5rem;
        background: rgba(30, 30, 30, 1);
        width: 150px;
        height: 150px;
        border-radius: 20px;
        z-index: 6;
        position: relative;
        &.widget-double {
          width: calc(150px * 2 + 1rem);
        }
        &.widget-clock {
          .widget-clock-circle {
            background: rgba(52, 52, 54, 1);
            margin: 0.45rem;
            border-radius: 50%;
            width: calc(100% - 0.9rem);
            height: calc(100% - 0.9rem);
            position: absolute;
            left: 0px;
            top: 0px;
          }
          .numbers {
            position: absolute;
            left: 0.6rem;
            top: 0.6rem;
            width: calc(100% - 1.1rem);
            height: calc(100% - 1.1rem);
            .number {
              position: absolute;
              font-size: 1.25rem;
              width: 1em;
              height: 1em;
              font-weight: bold;
              color: white;
              margin: -0.5em;
              text-align: center;

              &.n-12 {
                top: 0.5em;
                left: 50%;
              }

              &.n-1 {
                top: 1em;
                right: 1.5em;
              }

              &.n-2 {
                top: 2em;
                right: 1em;
              }

              &.n-3 {
                top: 50%;
                right: 0.5em;
              }

              &.n-4 {
                bottom:2em;
                right: 1em;
              }


              &.n-5 {
                bottom: 1em;
                right: 2em;
              }
              &.n-6 {
                bottom: 0.5em;
                left: 50%;
              }

              &.n-7 {
                left: 1.55em;
                bottom: 1em;
              }

              &.n-8 {
                left: 1em;
                bottom: 2em;
              }

              &.n-9 {
                left: 0.5em;
                top: 50%;
              }

              &.n-10 {
                left: 1em;
                top: 2em;
              }
              &.n-11 {
                left: 2em;
                top: 1em;
              }
            }
          }
        }
        &.widget-calendar {
          background: rgba(30, 30, 30, 1);
        }
        &.widget-weather {
          background: linear-gradient(
            0deg,
            rgba(48, 52, 67, 1) 0%,
            rgba(11, 9, 18, 1) 100%
          );
        }
        &.widget-podcast {
          background: linear-gradient(
            0deg,
            rgba(151, 0, 197, 1) 0%,
            rgba(230, 61, 252, 1) 100%
          );
        }
      }
    }
  }

  .window {
    min-width: 100px;
    min-height: 100px;
    border-radius: 12px;
    position: absolute;
    left: 10%;
    top: 10%;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    resize: both;
    background: rgba(40, 40, 40, 0.8);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 1),
                0 20px 70px rgba(0, 0, 0, 0.55);
    border: 1px solid rgba(255, 255, 255, 0.2);

    &:not(.dragging){
      transition: 0.2s all ease;
    }

    &.maximized{
      width: 100% !important;
      top: var(--topbarHeight) !important;
      left: 0px !important;
      height: calc( 100% - (var(--icon-size) + 1.25rem) - var(--topbarHeight)) !important;
    }

    &.minimized{
      transform: scale(0.1);
      left: 0px;
      top: 70% !important;
      .drop-top{
        width: 100%;
        height: 100%;
      }
    }

    &.closed{
      transform: scale(0);
      left: 0px;
      top: 70% !important;
      .drop-top{
        width: 100%;
        height: 100%;
      }
    }

    &.active {
      z-index: 2;
    }

    .drop-top{
      position: absolute;
      left: 0px;
      top:0px;
      width: 0px;
      height: 0px;
    }

    .window-top {
      height: 1.75rem;
      padding: 0.25rem 0.25rem;
      background: rgba(55, 55, 55, 0.9);
      border-bottom: 1px solid black;
      display: flex;

      &.large{
        height: 3.25rem;
        padding: 0.5rem 0.75rem;
      }

      .window-actions-icon {
        display: flex;
        flex-flow: row;
        align-items: center;
        padding: 0.5rem;
        & > div {
          flex: 0 0 auto;
          width: 0.75rem;
          height: 0.75rem;
          border-radius: 50%;
          background: rgba(255, 255, 255, 0.2);
          &.red {
            background: rgb(255, 59, 75);
          }
          &.yellow {
            background: rgb(255, 188, 0);
            margin: 0rem 0.5rem;
          }
          &.green {
            background: rgb(0, 213, 65);
          }
        }
      }
      .window-icons{
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        padding: 0 0.5rem;
        .icon-button{
          padding: 0.1rem 0.6rem;
          border-radius: 3px;
          margin: 0.25rem;
          color: rgba(255, 255, 255, 0.7);
          &:hover{
            background: rgba(255,255,255,0.1);
          }
          &:active{
            background: rgba(255,255,255,0.15);
            color: white;
          }
        }
      }
      .url-input{
        flex: 10 0 auto;
        width: auto;
        align-items:center;
        color: white;
        display:flex;
        align-items: center;

        .input-container{
          background: rgba(255, 255, 255, 0.1);
          width: 100%;
          border-radius: 5px;
          padding: 0px 2rem;
          position: relative;
          display:flex;
          flex-flow:row;
          align-items: center;
          box-shadow: 0px 0px 1px 8px transparent;

          &:focus-within{
            transition: 0.3s all ease;
            box-shadow: 0px 0px 4px 2px var(--accentColor);
            .label-url{
              opacity:0;
              transform: translateX(-200px);
            }
          }

          input{
            background: transparent;
            width: calc(100% - 200px); //traslateX value
            height:auto;
            border: none;
            line-height: 1.5rem;
            outline:none;
            text-align: left;
            transform: translateX(200px);
            transition: 0.4s opacity ease, 0.4s transform ease;
            padding: 0px;
            opacity: 0;
            color: inherit;
            &:focus{
              width: 100%;
              opacity:1;
              transform: translateX(0px);
            }
          }

          .label-url{
            display:block;
            position:absolute;
            width: 100%;
            height: 100%;
            transition: 0.4s opacity ease, 0.4s transform ease;
            opacity:1;
            text-align: center;
            span{
              pointer-events: none;
            }
          }

          .fa-lock{
          }

          .fa-reload{
            position: absolute;
            right: 0.5rem;
            top: 0.25rem;
          }
          .fa-globe{
            position: absolute;
            left: 0.5rem;
            top: 0.25rem;
          }
        }
      }
    }
    .window-tabs {
      flex: 0 0 1.5rem;
      background: rgba(15, 15, 15, 0.8);
      display: flex;
      flex-flow:row;
      justify-items: stretch;
      .tab{
        height: 1.5rem;
        flex: 1 0 auto;
        justify-items:center;
        display: flex;
        margin-top: -1px;
          &.active{
            background: rgba(55, 55, 55, 0.9);
          }
        .tab-title{
          font-size: 0.875rem;
          line-height: 1.25rem;
          flex: 1 1 auto;
          text-align: center;;
          color: white;
        }
      }
    }
    .window-container {
      flex: 1 1 auto;
      overflow: scroll;;
    }
  }

  .dock-outside {
    //background: rgba(100, 0, 0, 0.3);
    width: 100%;
    font-size: var(--icon-size);
    bottom: 0.25rem;
    left: 0px;
    position: absolute;
    display: flex;
    justify-content: center;

    .dock-container {
      z-index: 15;
      //background: rgba(0, 100, 0, 0.3);

      &.clear {
        .icon-container {
          //transition: 0.3s all ease;
          .icon {
            //transition: 0.3s all ease;
          }
        }
      }

      .dock {

        flex: 0 0 auto;
        border-radius: 1rem;
        //height: calc(var(--icon-size) + 1.5rem);
        background: rgba(40, 40, 40, 0.6);
        //padding: 0.125em;
        display: flex;
        align-items: flex-end;
        border: 1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4),
          0 20px 70px rgba(0, 0, 0, 0.55);
          transition: 1s all ease-in-out;

        .icon-container {
          margin-top: 0.125em;
          margin-bottom: 0.25em;
          width: calc(var(--icon-size) + 0.5rem);
          text-align: center;
          position: relative;

          &.has-dot:after {
            content: "";
            display: block;
            position: absolute;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.5);
            bottom: calc(-0.625rem + 2px);
            left: calc(50% - 2px);
          }

          .icon {

            -webkit-backface-visibility: hidden;
            outline: 1px solid transparent;
            image-rendering: auto;


            border-radius: 0.25em;
            width: calc(var(--icon-size) + 0.5rem);
            height: var(--icon-size);
            position: relative;
            transform-origin: 0% 100%;
            background-size: calc(var(--icon-size) + 6px)
              calc(var(--icon-size) + 6px);
            background-position: -3px -3px;
            background-origin: content-box;

            padding-left: 0.25rem;
            padding-right: 0.25rem;

            &.safari{
              background-image: url(./../icons/safari-2021-06-02.png);
            }
            &.folder{
              background-image: url(./../icons/FolderDark512x512.png);
            }
            &.photos{
              background-image: url(./../icons/photos-2021-05-28.png);
            }
            &.podcast{
              background-image: url(./../icons/podcasts-2021-05-28.png);
            }
            &.terminal{
              background-image: url(./../icons/terminal-2021-06-03.png);
            }
            &.monitor{
              background-image: url(./../icons/activity-monitor-2021-04-22.png);
            }
            &.appstore{
              background-image: url(./../icons/app-store-2021-04-22.png);
            }
            &.calculator{
              background-image: url(./../icons/calculator-2021-04-29.png);
            }
            &.digital-color{
              background-image: url(./../icons/digital-color-meter-2021-04-30.png);
            }
            &.maps{
              background-image: url(./../icons/maps-2021-05-25.png);
            }
            &.reminders{
              background-image: url(./../icons/reminders-2021-05-28.png);
            }
            &.screenshot{
              background-image: url(./../icons/screenshot-2021-06-02.png);
            }
            &.preferences{
              background-image: url(./../icons/system-preferences-2021-06-03.png);
            }

            &:active{
              filter: brightness(50%);
            }




            .notification {
              position: absolute;
              background: red;
              width: 1.5em;
              height: 1.5em;
              line-height: 1.55em;
              right: -0.5em;
              top: -0.5em;
              font-size: 0.4em;
              color: white;
              text-align: center;
              border-radius: 50%;
              box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
            }
          }
        }

        .divider-container {
          .divider {
            margin: 0.1rem 0.5rem 0.25rem 0.5rem;
            height: calc(var(--icon-size) + 0.2rem);
            width: 1px;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 1px;
          }
        }
      }
    }
  }

  .spotlight-container{
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height: 100%;
    z-index: 30;

      &.hide {
        display: none;
      }

    .spotlight {
      width: 40rem;
      height: 3.6rem;
      position: absolute;
      left: calc(50% - 20rem);
      top: 40%;

      background: rgba(40, 40, 40, 0.8);
      box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 1),
                  0 20px 70px rgba(0, 0, 0, 0.55);
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 8px;

      .fa-search {
        font-size: 1.8rem;
        position: absolute;
        left: 0.9rem;
        top: 0.9rem;
        color: rgba(255, 255, 255, 0.8);
      }
      input {
        padding-left: 3.6rem;
        position: absolute;
        right: 0px;
        top: 0px;
        border: none;
        font-size: 1.8rem;
        width: 100%;
        height: 100%;
        background: transparent;
        outline: none;
        color: rgba(255, 255, 255, 0.8);
        &::placeholder {
          color: rgba(255, 255, 255, 0.4);
        }
      }
    }

  }
}

#window-1.window {
  left: 50px;
  top: 50px;
  width: 800px;
  height: 300px;
}

#window-2.window {
  left: 100px;
  top: 100px;
}

.window.safari{
  .window-container{
    background-color:white;
  }
}


.window.terminal{
  -webkit-backdrop-filter:  blur(10px);
  backdrop-filter: blur(10px);

  .window-container{
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.1rem 0.125rem;
    font-size: 1rem;
    letter-spacing: 2px;


    .cursor-blink{
      vertical-align: top;
      width: 0.5rem;
      height: 1.1rem;
      background: white;
      display: inline-block;
      animation: blink-animation 1s steps(2, start) infinite;

    }
  }
}


@keyframes blink-animation {
  to {
    background:rgba(255, 255, 255, 0);
  }
}
